In [ ]:
import pandas as pd

In [ ]:
#panda store data in SERIES(1 dim) or in the form of FRAME (2 dim)

marks = pd.Series([10,20,30,40,50])
marks

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
marks1 = pd.Series([100,200,300],index=['ali','ahmed','asim'])
marks1

ali      100
ahmed    200
asim     300
dtype: int64

In [ ]:
marks1['asim']

300

In [ ]:
age = pd.Series([20.34,40.23,43.20],index=['akbar','fuzailchomu','usama'],dtype='float')

In [ ]:
age

akbar          20.34
fuzailchomu    40.23
usama          43.20
dtype: float64

In [ ]:
age[age<40]

akbar    20.34
dtype: float64

In [ ]:
age[age>40]

fuzailchomu    40.23
usama          43.20
dtype: float64

In [ ]:
marks.values

array([10, 20, 30, 40, 50])

In [ ]:
#implmenting series in the form of dictionary
age2 = pd.Series({'ali':30,'aliya':45,'sana':20})

In [ ]:
age2.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of ali      30
aliya    45
sana     20
dtype: int64>

In [ ]:
age2

ali      30
aliya    45
sana     20
dtype: int64

In [ ]:
#to find median
age2.mean()

31.666666666666668

In [ ]:
age2.max()

45

In [ ]:
#to check which value in NULL
pd.isnull(age2)

ali      False
aliya    False
sana     False
dtype: bool

In [ ]:
age3= pd.Series([12,23,34] ,index=['asma','sana','rabia'])

In [ ]:
age3

asma     12
sana     23
rabia    34
dtype: int64

In [ ]:
#dataFrame

std = {
    'name':['abdullah','ali','farhan'],
    'age':[20,30,44],
    'cgpa':[3.2,3.4,4.0],
    'address':['karachi','lahore','islamabad']
}

In [ ]:
std

{'name': ['abdullah', 'ali', 'farhan'],
 'age': [20, 30, 44],
 'cgpa': [3.2, 3.4, 4.0],
 'address': ['karachi', 'lahore', 'islamabad']}

In [ ]:
#dataFrame

std = pd.DataFrame({
    'name':['abdullah','ali','farhan'],
    'age':[20,30,44],
    'cgpa':[3.2,3.4,4.0],
    'address':['karachi','lahore','islamabad']
})

In [ ]:
std

       name  age  cgpa    address
0  abdullah   20   3.2    karachi
1       ali   30   3.4     lahore
2    farhan   44   4.0  islamabad

In [ ]:
std[['name','cgpa']]

       name  cgpa
0  abdullah   3.2
1       ali   3.4
2    farhan   4.0

In [ ]:
 doctors = pd.DataFrame ({
    'name': ['muzaffar','iqbal','danial'],
    'age': [50,30,60],
    'qualification': ['PHD','MS','MCOM']   
 },index=['d1','d2','d3'])

In [ ]:
doctors

        name  age qualification
d1  muzaffar   50           PHD
d2     iqbal   30            MS
d3    danial   60          MCOM

In [ ]:
doctors.loc['d1']#accessing row wise data
#dataFrame

name             muzaffar
age                    50
qualification         PHD
Name: d1, dtype: object

In [ ]:
doctors.iloc[2] #using index location as integer we can access data row wise

name             danial
age                  60
qualification      MCOM
Name: d3, dtype: object

In [ ]:
doctors['address']='karachi'

In [ ]:
doctors

        name  age qualification  address
d1  muzaffar   50           PHD  karachi
d2     iqbal   30            MS  karachi
d3    danial   60          MCOM  karachi

In [ ]:
del doctors['address'] #to delete values

In [ ]:
doctors

        name  age qualification
d1  muzaffar   50           PHD
d2     iqbal   30            MS
d3    danial   60          MCOM

In [ ]:
#negative indexing
#-1 last value -2 second last value

In [ ]:
doctors.iloc[-1]

name             danial
age                  60
qualification      MCOM
Name: d3, dtype: object

In [ ]:
doctors.iloc[-2]

name             iqbal
age                 30
qualification       MS
Name: d2, dtype: object

In [ ]:
#slicing in data frame
doctors.values
#now we access data in numpy array

array([['muzaffar', 50, 'PHD'],
       ['iqbal', 30, 'MS'],
       ['danial', 60, 'MCOM']], dtype=object)

In [ ]:
doctors

        name  age qualification
d1  muzaffar   50           PHD
d2     iqbal   30            MS
d3    danial   60          MCOM

In [ ]:
#to drop entire row
doctors.drop('d1')

      name  age qualification
d2   iqbal   30            MS
d3  danial   60          MCOM

In [ ]:
doctors

        name  age qualification
d1  muzaffar   50           PHD
d2     iqbal   30            MS
d3    danial   60          MCOM

In [ ]:
#creating dataframee with different data structure
import numpy as np
arr = np.array(
    [
        ['SARAH',30,3.6,'KARACHI'],
        ['ASIM',52,2.2,'LAHORE'],
        ['HIRA',24,2.6,'PESHAWAR'],
    ]
)
arr

array([['SARAH', '30', '3.6', 'KARACHI'],
       ['ASIM', '52', '2.2', 'LAHORE'],
       ['HIRA', '24', '2.6', 'PESHAWAR']], dtype='<U32')

In [ ]:
arr2 = pd.DataFrame(arr,columns=['NAME','AGE','CGPA','CITY'])

In [ ]:
arr2

    NAME AGE CGPA      CITY
0  SARAH  30  3.6   KARACHI
1   ASIM  52  2.2    LAHORE
2   HIRA  24  2.6  PESHAWAR

In [ ]:
import pandas as pd

In [ ]:
#lets create dataframe for cricket team

stats = pd.DataFrame(
    {
        'TEAM':['PAKISTAN','INDIA','AFGHANISTAN','SRILANKA'],
        'PLAYED':[5,6,5,6],
        'POINTS':[2,3,2,3],   
    },index=['t1','t2','t3','t4']
)

In [ ]:
stats

           TEAM  PLAYED  POINTS
t1     PAKISTAN       5       2
t2        INDIA       6       3
t3  AFGHANISTAN       5       2
t4     SRILANKA       6       3

In [ ]:
#by default it display 5 rows
stats.head()

          TEAM  PLAYED  POINTS
0     PAKISTAN       5       2
1        INDIA       6       3
2  AFGHANISTAN       5       2
3     SRILANKA       6       3

In [ ]:
stats.head(2)

       TEAM  PLAYED  POINTS
0  PAKISTAN       5       2
1     INDIA       6       3

In [ ]:
stats.iloc[0]

TEAM      PAKISTAN
PLAYED           5
POINTS           2
Name: 0, dtype: object

In [ ]:
stats.loc['t1']

TEAM      PAKISTAN
PLAYED           5
POINTS           2
Name: t1, dtype: object

In [ ]:
import numpy as np
stats['NO.']= np.arange(1,5)

In [ ]:
stats

           TEAM  PLAYED  POINTS  NO.
t1     PAKISTAN       5       2    1
t2        INDIA       6       3    2
t3  AFGHANISTAN       5       2    3
t4     SRILANKA       6       3    4

In [ ]:

stats.drop('TEAM',axis=1,inplace = true)

NameError: ignored

In [ ]:
#apply function
stats['TEAM2']=['PAKISTAN','INDIA','AFGHANISTAN','SRILANKA']
stats['WIN']=stats['PLAYED']/2

In [ ]:
stats

           TEAM  PLAYED  POINTS  NO.        TEAM2  WIN
t1     PAKISTAN       5       2    1     PAKISTAN  2.5
t2        INDIA       6       3    2        INDIA  3.0
t3  AFGHANISTAN       5       2    3  AFGHANISTAN  2.5
t4     SRILANKA       6       3    4     SRILANKA  3.0

In [ ]:
def calculate_loss_tie(row):
  return row['PLAYED']-row['WIN']

In [ ]:
stats['loss_tie']=stats.apply(calculate_loss_tie,axis=1)

In [ ]:
stats

           TEAM  PLAYED  POINTS  NO.        TEAM2  WIN  loss_tie
t1     PAKISTAN       5       2    1     PAKISTAN  2.5       2.5
t2        INDIA       6       3    2        INDIA  3.0       3.0
t3  AFGHANISTAN       5       2    3  AFGHANISTAN  2.5       2.5
t4     SRILANKA       6       3    4     SRILANKA  3.0       3.0

In [ ]:
#get the team with maximum point

In [ ]:
index = stats['POINTS'].idxmax()

In [ ]:
index

't2'

In [ ]:
stats.loc['t2']

TEAM        INDIA
PLAYED          6
POINTS          3
NO.             2
TEAM2       INDIA
WIN           3.0
loss_tie      3.0
Name: t2, dtype: object

In [ ]:
stats.drop('TEAM2',axis=1)

           TEAM  PLAYED  POINTS  NO.  WIN  loss_tie
t1     PAKISTAN       5       2    1  2.5       2.5
t2        INDIA       6       3    2  3.0       3.0
t3  AFGHANISTAN       5       2    3  2.5       2.5
t4     SRILANKA       6       3    4  3.0       3.0

In [ ]:
np.sqrt(stats['PLAYED'])

t1    2.236068
t2    2.449490
t3    2.236068
t4    2.449490
Name: PLAYED, dtype: float64

In [ ]:
stats.describe()

        PLAYED   POINTS       NO.       WIN  loss_tie
count  4.00000  4.00000  4.000000  4.000000  4.000000
mean   5.50000  2.50000  2.500000  2.750000  2.750000
std    0.57735  0.57735  1.290994  0.288675  0.288675
min    5.00000  2.00000  1.000000  2.500000  2.500000
25%    5.00000  2.00000  1.750000  2.500000  2.500000
50%    5.50000  2.50000  2.500000  2.750000  2.750000
75%    6.00000  3.00000  3.250000  3.000000  3.000000
max    6.00000  3.00000  4.000000  3.000000  3.000000

In [ ]:
stats.sum()

TEAM        PAKISTANINDIAAFGHANISTANSRILANKA
PLAYED                                    22
POINTS                                    10
NO.                                       10
TEAM2       PAKISTANINDIAAFGHANISTANSRILANKA
WIN                                     11.0
loss_tie                                11.0
dtype: object

In [ ]:
  #assignment: practice various statistic methods

In [ ]:
stats.to_csv('stats.csv')

In [ ]:
my_data=pd.read_csv('cutomers.csv')

FileNotFoundError: ignored

In [ ]:
my_data

  Unnamed: 0         TEAM  PLAYED  POINTS  NO.        TEAM2  WIN  loss_tie
0         t1     PAKISTAN       5       2    1     PAKISTAN  2.5       2.5
1         t2        INDIA       6       3    2        INDIA  3.0       3.0
2         t3  AFGHANISTAN       5       2    3  AFGHANISTAN  2.5       2.5
3         t4     SRILANKA       6       3    4     SRILANKA  3.0       3.0

In [ ]:
my_data=pd.read_csv('stats.csv',index_col=0,header=None)

In [ ]:
my_data

               1       2       3    4            5    6         7
0
NaN         TEAM  PLAYED  POINTS  NO.        TEAM2  WIN  loss_tie
t1      PAKISTAN       5       2    1     PAKISTAN  2.5       2.5
t2         INDIA       6       3    2        INDIA  3.0       3.0
t3   AFGHANISTAN       5       2    3  AFGHANISTAN  2.5       2.5
t4      SRILANKA       6       3    4     SRILANKA  3.0       3.0

In [ ]:
#assignemnt read write data in various format

stats.isna()

     TEAM  PLAYED  POINTS    NO.  TEAM2    WIN  loss_tie
t1  False   False   False  False  False  False     False
t2  False   False   False  False  False  False     False
t3  False   False   False  False  False  False     False
t4  False   False   False  False  False  False     False

In [ ]:
stats.dropna() #drop the entire row with NA value

           TEAM  PLAYED  POINTS  NO.        TEAM2  WIN  loss_tie
t1     PAKISTAN       5       2    1     PAKISTAN  2.5       2.5
t2        INDIA       6       3    2        INDIA  3.0       3.0
t3  AFGHANISTAN       5       2    3  AFGHANISTAN  2.5       2.5
t4     SRILANKA       6       3    4     SRILANKA  3.0       3.0

In [ ]:
import sys

In [ ]:
stats.to_csv(sys.stdout,sep='\t')

	TEAM	PLAYED	POINTS	NO.	TEAM2	WIN	loss_tie
t1	PAKISTAN	5	2	1	PAKISTAN	2.5	2.5
t2	INDIA	6	3	2	INDIA	3.0	3.0
t3	AFGHANISTAN	5	2	3	AFGHANISTAN	2.5	2.5
t4	SRILANKA	6	3	4	SRILANKA	3.0	3.0